a {
    text-decoration: none;
}

.no-left-right-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.products-list {
    &-container {
        margin-bottom: 13px;

        @media only screen and (max-width: 991px) {
            margin-bottom: 0;
        }
    }

    &-content {
        width: 100%;
    }
}

.product {
    &-item {
        margin-bottom: 33px;
        border-right: 1px solid #efefef;
        text-align: center;
        float: left;

        @media only screen and (max-width: 991px) {
            margin-bottom: 47px;
            border-right: 0;
        }

        &:hover {
            box-shadow: 0 5px 19px 1px rgba(36,11,12,.15);
            z-index: 5;

            .add-to-cart, .like {
                opacity: 1;
                visibility: visible;

                transform: translate(0, 0);
                transition: all .3s ease-in-out;
            }

            .add-to-cart {
                &:hover {
                    background-color: #333;
                    cursor: pointer;
                }
            }

            .like {
                &:hover {
                    .fa-heart-o {
                        cursor: pointer;
                        color: #f63440;
                        text-decoration: none;
                        outline: 0;
                    }
                }
            }
        }

        a {
            color: #333;

            img {
                max-width: 100%;
                height: auto;

                border: 0;

                vertical-align: middle;
            }
        }

        .add-to-cart {
            background: #f63440;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;

            a {
                line-height: 46px;
                font-weight: 700;
                color: #fff;
                text-decoration: none;
            }
        }

        .like {
            opacity: 0;
            visibility: hidden;

            position: absolute;
            top: 20px;
            right: 22px;

            font-size: 14px;
            line-height: 26px;
            transform: translate(30px,0px);
        }
    }

    &-photo {
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }

    &-info {
        padding: 0 35px 40px;
        margin-top: -11px;
        font-weight: 500;
    }

    &-name {
        font-size: 16px;
        color: #333;
    }

    &-price {
        
        ins {
            font-size: 18px;
            line-height: 40px;
            font-weight: 500;
            text-decoration: none;
        }

        del {
            font-size: 16px;
            line-height: 36px;       
            font-weight: 100;  
            
            .regular {
                color: #c5c5c5;
            }
        }

        &-amount {
            color: #f63440;
        }
    }

    &-special {
        font-size: 14px;
        line-height: 26px;
        width: 65px;
        top: 20px;
        left: 20px;
        text-align: center;
        color: #fff;
        display: block;
        position: absolute;
    }

    &-new {
        background-color: #7cc576;
    }

    &-sale {
        background-color: #f63440;
    }
}

.flat-list {
    margin-top: 2px;
    margin-bottom: 0;

    li {
        display: inline-block;
        margin: 0 4px;
    }
}

.product-pagination {
    padding-top: 40px;

    li {
        display: inline-block;
        margin-right: 5px;

        a {
            font-size: 16px;
            font-weight: 500;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background: 0 0;
            border: 1px solid #ebebeb;
            border-radius: 2px;
            color: #6e6e6e;
        }

        a:hover {
            background: #f63440;
            border: 1px solid #f63440;
            color: #fff;
            text-decoration: none;
        }
    }

    .active a {
        background: #f63440;
        border: 1px solid #f63440 !important;
        color: #fff;
        text-decoration: none;
    }

    &-section {
        margin-top: 11px!important;
    }
}

.icon {
    &-hidden {
        opacity: 0;

        &:hover {
            cursor: default;
        }
    }
}