@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #6e6e6e;
}

ul {
    padding: 0;
    list-style: none;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.container {
    padding: 0 15px !important;

    @media only screen and (min-width: 1200px) {
        & {
            width: 1200px !important;
            max-width: 100% !important;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        & {
            width: 970px !important;
            max-width: 100% !important;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        & {
            width: 750px !important;
            max-width: 100% !important;
        }
    }

    @media only screen and (max-width: 767px) {
        & {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}

.page {
    &-title {
        position: relative;

        width: 100%;

        padding: 76px 0 77px;

        background-image: url('	http://themesflat.com/html/modaz/images/parallax/bg-parallax1.jpg');
        background-position-x: 50%;

        text-align: center;

        h1 {
            font-size: 48px !important;
            font-weight: 500;
            line-height: 48px;
            color: #333 !important;

            margin-bottom: 23px;
        }

        .custom-breadcrumb {
            &-list-item {
                display: inline-block;
                position: relative;
                
                margin-right: 9px;
                margin-left: 7px;

                &:not(:last-child)::before {
                    content: ">";

                    position: absolute;

                    font-weight: 300;
                    font-size: 13px;

                    top: 0;
                    right: -12px;
                }
            }

            &-item {
                color: #6e6e6e;
                margin: 0;
                font-size: 14px;
                font-weight: 300;

                &:hover, &:active {
                    text-decoration: none;
                    color: #F63340;
                }
            }
        }
    }
}

.main-section {
    padding: 70px 0;
    clear: both;
    display: block;
    position: relative;
    overflow: hidden;
}

.support-section {
    margin-bottom: 68px;
}

.product {
    &-showing-number {
        float: left;
        
        p {
            color: #333333;
        }
    }

    &-filter-search {
        float: right;

        list-style: none;
        
        padding: 0;
        margin: 0;

        a {
            color: #333;
            font-size: 16px;
            line-height: 21px;
            font-weight: 500;
            text-decoration: none;
        }

        li {
            display: inline-block;
            position: relative;
            padding-right: 10px;
            cursor: pointer;

            .filter-options-show {
                &:hover {
                    color: #333;
                    text-decoration: none;
                }

                &::after {
                    content: "/";
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: 500;
                }
            }

            .search-bar {
                &-control {
                    margin-right: 10px;
    
                    &:hover {
                        color: #333;
                        text-decoration: none;
                    }
                }   

                &-show {
                    &::after {
                        content: "\f002";
                        font-family: fontawesome;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                
                &-hide {
                    &::after {
                        content: "\f00d";
                        color: #f63440;
                        font-family: fontawesome;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                } 
            }
        }
    }

    &-filter-function {
        .filter-options-show {
            font-weight: 500;
        }
    }

    &-search {
        &-icon {
            position: absolute;
            top: 0;
            right: 0;
        }

        &-function {
            //
        }
    }
}

.filter-container {
    display: block !important;
    border-top: 1px solid #e5e5e5;
    padding-top: 31px;
    position: relative;
    z-index: 2;

    &-close-btn {
        position: absolute;

        top: 2px;
        right: 0;

        width: 30px;
        height: 30px;

        text-align: center;

        background-color: #f63440;

        a {
            line-height: 30px;

            .fa-times::before {
                content: "\f00d";
                color: #fff;
            }
        }
    }
}

.widget {
    float: left;
    font-size: 14px;

    @media only screen and (max-width: 991px) {
        & {
            padding-bottom: 0;
            margin-bottom: 35px !important;
        }
    }

    @media only screen and (max-width: 479px) {
        & {
            width: 100% !important;
        }
    }

    &-sort-by {
        width: 23%;
    }

    &-price {
        width: 19.6%;
    }

    &-color {
        width: 19.8%;
        padding-bottom: 39px;
    }

    &-size {
        width: 14.5%;
        padding-bottom: 35px;

        a {
            &:hover {
                color: #333;
            }
        }
    }

    &-tag {
        width: 23.1%;

        .tag-list {
            a {
                display: inline-block;
                color: #6e6e6e;
                line-height: 29px;
                text-align: center;
                font-weight: 300;
                background-color: #eee;
                padding: 0 17px;
                margin: 0 8px 12px 0;
                
                &:hover {
                    text-decoration: none;
                    background: #f63440;
                    color: #fff;
                }
            }

            .active {
                background: #f63440;
                color: #fff;
            }
        }
    }

    &-title {
        font-size: 14px;
        line-height: 30px;
        color: #333;

        @media only screen and (max-width: 991px) {
            & {
                margin-bottom: 14px!important;
            }
        }
    }

    ul {
        margin: 0;

        a, span {
            line-height: 30px;
            color: #c5c5c5;
            text-decoration: none;
            font-weight: 300;
        }

        .active {
            color: #333;
        }
    }
}

.colors-list {
    a {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: relative;

        &::before, &::after {
            content: "";
            visibility: hidden;

            position: absolute;

            border-radius: 50%;

            top: 0;
            left: 0;

            height: 100%;
            width: 100%;
            
            z-index: -1;
        }

        &::after {
            border: 2px solid #fff;
        }

        &{
            &.color-icon {
                
                &-yellow::before {
                    border: 2px solid #faed34;
                }
                &-pink::before {
                    border: 2px solid #f5eaea;
                }
            
                &-red::before {
                    border: 2px solid #ee1313;
                }
            
                &-black::before {
                    border: 2px solid #000;
                }
            
                &-green::before {
                    border: 2px solid #7cc576;
                }
            
                &-khaki::before {
                    border: 2px solid #cfc300;
                }
            }
        }

        &:hover {
            &::before, &::after {
                opacity: 1;
                visibility: visible;
            }

            &::after {
                transform: scale(1.25);
            }
            
            &::before {
                transform: scale(1.5);
            }
        }
    }

    span {
        display: inline-block;
        padding-left: 24px;
        color: #333 !important;
        font-weight: 300;
    }

    li {
        &:hover {
            span {
                font-weight: 500;
            }
        }
    }
}

.color-icon {
    &-yellow {
        background-color: #faed34;
    }

    &-pink {
        background-color: #f5eaea;
    }

    &-red {
        background-color: #ee1313;
    }

    &-black {
        background-color: #000;
    }

    &-green {
        background-color: #7cc576;
    }

    &-khaki {
        background-color: #cfc300;
    }
}

.search {
    &-container {
        display: block !important;
        position: relative;
        margin-bottom: 68px;
        z-index: 1;
    }

    &-form {
        height: 57px;

        input, label {
            line-height: 57px;
            padding-left: 0;
            font-size: 24px;
            color: #c5c5c5;
            font-weight: 300;
        }

        label {
            display: block;
            margin: 0;
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #ebebeb;

            font-family:'Courier New', Courier, monospace;

            &:focus {
                outline: none;
                
                box-shadow: none;
                border-color: transparent;
                border-bottom-color: #f63440;
            }
        }
    }
}