@import url('https://fonts.googleapis.com/css2?family=Poppins:100,100i,200,200i,300,300i,400,500,600,700');
@import url("");
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font: 14px/26px, "Poppins", sans-serif !important;
}

a{
    text-decoration: none !important;
}
h3,footer, section, div, h2.title {
    font-family: 14px/26px, "Poppins", sans-serif ;
}
.layout-img {
	background-image: url("https://themesflat.com/html/modaz/images/parallax/bg-parallax1.jpg");
	background-position: 50% 0px;
	padding: 70px 0px 70px;
  }

  .layout-img .container-blog{
	display: flex;
	justify-content: center;
  }
.title-breadcum-heading{
justify-content: center;    
}
  .title-blog {
	font-size: 48px;
	font-weight: 500;
	line-height: 48px;
    font-family: Poppins ,sans-serif;
	text-align: center;
	margin: 0;
	color: #333333;
  }

  .title-img {
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	margin-right: 25px;
	margin-top: 20px;
	margin-left: 26px;
  }
  .title-heading a {
	display: inline;
    font-family: Poppins ,sans-serif;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	margin: 0px 2px 0px 2px;
    text-decoration: none;

  }
.title-img a:hover{
	color: #F63440 !important;
    text-decoration: none;
}

/* Row */
.flat-row {
    clear   : both;
    display : block;
    position: relative;
    padding : 34px 0 63px 0px;
    overflow: hidden;
}

.flat-row.flat-icon {
    padding: 36px 0px 20px 0px;
}

.container {
    width: 1200px;
    width: 100%;
}

.title-section {
    position     : relative;
    text-align   : center;
    margin-bottom: 48px;
}


.title-section .title:before {
    content   : "";
    width     : 60px;
    height    : 2.5px;
    position  : absolute;
    top       : 4rem;
    left      : 39rem !important;
    background: #f63440;
}

.title-section .title {
    font-size  : 32px;
    line-height: 66px;
    font-weight: 500;
    color      : #333333;
    position   : relative;
}

.icon {
    margin-bottom: 6px;
}

.iconbox .icon i {
    font-size  : 30px;
    line-height: 30px;
    color      : #f63440;
    font-weight: 400;
}

.box-content p {
    font-weight: 500;
    line-height: 24px;
    color      : #6e6e6e;
    font-size  : 15px;
}

.divider {
    height: 43px;
}

/* map */
.map {
    height: 383px;
}


/* Contact */
.wrap-contact {
    width: 100%;
}

.wrap-contact .contact-name,
.wrap-contact .contact-email,
.wrap-contact .contact-subject {
    float      : left;
    width      : 33.3333%;
    line-height: 6rem;
}

input#author,
input#email {
    width: 25rem;
}

input#subject {
    width: 26.4rem;
}

.wrap-contact .contact-message {
    width: 100%;
}


.wrap-contact .contact-name input[type="text"],
.wrap-contact .contact-email input[type="email"],
.wrap-contact .contact-subject input[type="text"],
.wrap-contact .contact-message textarea {
    border       : none;
    border-bottom: 1px solid #ebebeb;
    font-size    : 20px;
    padding      : 38px 0 0;
    height       : 80px;
}


.wrap-contact textarea,
.message {
    width: 100%;
}


.wrap-contact textarea::placeholder {
    margin-top: 10rem
}

.wrap-contact ::placeholder {
    color: #b3b7c8;
}

.wrap-contact .form-submit {
    margin-top: 2rem;
}

.wrap-contact input[type="text"]:focus,
.wrap-contact input[type="email"]:focus,
.wrap-contact textarea:focus {
    border-bottom: 1px solid #f63440;
    outline      : none;
}

button {
    z-index    : 1;
    position   : relative;
    padding    : 10px 51px;
    font-size  : 18px;
    border     : none;
    outline    : none;
    font-weight: bold;
    background : #f63440;
    line-height: 30px;
    color      : #fff;
}

button:before {
    content           : "";
    width             : 0%;
    height            : 100%;
    position          : absolute;
    top               : 0;
    left              : 0;
    background        : #333333;
    z-index           : -1;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition   : all 0.3s ease 0s;
    -ms-transition    : all 0.3s ease 0s;
    -o-transition     : all 0.3s ease 0s;
    transition        : all 0.3s ease 0s;
}

button:hover:before {
    width: 100%;
}




/* PC */
@media (min-width: 1024px) {
    .container {
        width: 1200px;
        width: 100%;
    }

    .title-section {
        margin-bottom: 2rem;
    }

    .title-section .title:before {
        /* left      : 28rem !important; */
        display: none;
    }

    .wrap-contact .contact-name,
    .wrap-contact .contact-email,
    .wrap-contact .contact-subject {
        line-height: 0;
    }

    .mail .social {
        padding-left   : 40px;
        justify-content: space-between;
        gap            : 20px;
    }

    input#author,
    input#email {
        width: 92%;
    }

    input#subject {
        width: 97%;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .row {
        padding-left : 0 !important;
        padding-right: 0 !important;
    }

    .title-section .title:before {
        /* left: 14rem; */
        display: none;
    }

    input#author,
    input#email,
    input#subject {
        width: 100%;
    }

    .wrap-contact .contact-name,
    .wrap-contact .contact-email,
    .wrap-contact .contact-subject {
        width      : 100%;
        line-height: 0;
    }

    #subscribe-form {
        width: 90%;
    }

    #subscribe-form input[type="email"] {
        margin-left: 0;
    }

    #subscribe-form button {
        right: -134px;
    }

    ul.social {
        position: absolute;
        right   : 27rem;
        top     : 10rem;
        left    : 1.8rem;
    }

    .mail {
        padding: 40px 0px 116px 0px;
    }

    .mail .text h3 {
        margin-top   : -9px;
        margin-bottom: 2rem;
    }

}

/* @media (min-width: 768px) and (max-width: 1021px) {
    .mail .text h3 {
        margin-top   : 6px;
        margin-bottom: 2rem;
    }
    .title-section .title:before {
        left: 20rem !important;
    }
    #subscribe-form {
        width: 75%;
    }
    ul.social {
        right: 13rem;
        top  : 10rem;
        left : 10.5rem;
    }
} */


/* Mobile */
@media (max-width: 740px) {
    .title-section .title:before {
        /* left: 8rem; */
        display: none;
    }

    input#author,
    input#email,
    input#subject {
        width: 100%;
    }

    .row {
        padding-left : 0 !important;
        padding-right: 0 !important;
    }

    .wrap-contact .contact-name,
    .wrap-contact .contact-email,
    .wrap-contact .contact-subject {
        float      : none;
        width      : 100%;
        line-height: 0;
    }

    .title-section {
        margin-bottom: 0;
    }

    .text {
        margin-bottom: 2rem;
    }

    #subscribe-form input[type="email"] {
        margin-left: 0;
    }

    #subscribe-form button {
        right: -134px;
    }

    ul.social {
        position: absolute;
        right   : 10rem;
        top     : 11rem;
        left    : -2.5rem;
    }

    .mail {
        padding: 40px 0px 102px 0px;
    }

    button {
        padding: 10px 30px;
    }

}